
<app-header></app-header>
<section class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a>صفحه اصلی</a></li>
      <li><a>اخبار</a></li>
      <li>{{news['title']}}</li>
    </ol>
    <h2>{{news['title']}}</h2>
  </div>
</section>

<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-4">
        <div class="sidebar">

          <h3 class="sidebar-title">جستجوی خبر</h3>
          <div class="sidebar-item search-form">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="جستجوی خبر" aria-label="Username" aria-describedby="basic-addon1">
              <div class="input-group-prepend">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>



          <h3 class="sidebar-title">جدیدترین خبرها</h3>
          <div class="sidebar-item recent-posts">
            <div class="post-item clearfix" *ngFor="let i of latestNews">
              <img [src]="i['image']" [alt]="i['imageDescription']">
              <h4><a>{{i['title']}}</a></h4>
              <time datetime="1400-2-24">{{i['date']}}</time>
            </div>

          </div><!-- End sidebar recent posts-->

          <h3 class="sidebar-title">برچسب ها</h3>
          <div class="sidebar-item tags">
            <ul>
              <li *ngFor="let item of Alltags; let i = index">
                <a href="#" *ngFor="let itemTag of item['tags']; let j = index">{{itemTag}}</a></li>
            </ul>
          </div><!-- End sidebar tags-->
        </div><!-- End sidebar -->
      </div><!-- End blog sidebar -->

      <div class="col-lg-8 entries">
        <article class="entry entry-single">
          <div class="entry-img">
            <img [src]="news['image']" [alt]="news['imageDescription']" class="img-fluid">
          </div>
          <h2 class="entry-title"><a>{{news['title']}}</a></h2>
          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center"><i class="pi pi-user"></i><a>مدیر سایت</a></li>
              <li class="d-flex align-items-center"><i class="far fa-clock"></i><a><time datetime="1400-2-24">{{news['date']}}</time></a></li>
              <li class="d-flex align-items-center"><i class="pi pi-tags"></i><a>{{news['tags']}}</a></li>
            </ul>
          </div>
          <div class="entry-content">
            <p>{{news['details']}}</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section><!-- End Blog Section -->
<app-footer></app-footer>
