 <!-- ======= Departments Section ======= -->
 <section id="departments" class="departments">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
    <h2>دپارتمان ها</h2>
  </div>




    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
              <h4>مدیریت</h4>
              <p>تولید پک های جراحی یکبار </p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
              <h4> مالی</h4>
              <p>تولید پک های  بیمارستانی</p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
              <h4>مهندسی پزشکی</h4>
              <p>تولید پک اتاق عمل و سزارین</p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-toggle="tab" href="#tab-4">
              <h4>فناوری </h4>
              <p>تولید پک های جراحی یکبارمصرف </p>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-8">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <h3>مدیریت</h3>
            <p class="font-italic"> مدیریت مدیریت مدیریت مدیریت مدیریت</p>
            <img src="../../../assets/images/dep.jpg" alt="" class="img-fluid">
            <p>تولید پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی بیمارستانی</p>
          </div>
          <div class="tab-pane" id="tab-2">
            <h3>مالی</h3>
            <p class="font-italic"> مدیریت مدیریت مدیریت مدیریت مدیریت</p>
            <img src="../../../assets/images/dep.jpg" alt="" class="img-fluid">
            <p>تولید پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی بیمارستانی</p>
          </div>
          <div class="tab-pane" id="tab-3">
            <h3>مهندسی پزشکی</h3>
            <p class="font-italic"> مدیریت مدیریت  مدیریت مدیریت</p>
            <img src="../../../assets/images/dep.jpg" alt="" class="img-fluid">
            <p>تولید پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار   و ملحفه و روبالشی بیمارستانی</p>
          </div>
          <div class="tab-pane" id="tab-4">
            <h3>فناوری</h3>
            <p class="font-italic"> مدیریت مدیریت مدیریت مدیریت مدیریت</p>
            <img src="../../../assets/images/dep.jpg" alt="" class="img-fluid">
            <p>تولید پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی بیمارستانی</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Departments Section -->