<p-toast position="center"></p-toast>
<div style="direction: rtl; text-align: right">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="w-100 mt-3">

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col text-right">
        <label class="d-block"> رمزعبور</label>
        <input
          class="form-control"
          #passwordInput
          formControlName="password"
          minlength="5"
          name="password"
          pInputText
          required
          type="password"
        />
        <ul
          class="mt-1 text-right list-inline"
          *ngFor="let error of errorMessages.password"
        >
          <li
            class="font-small text-danger font-weight-bold list-inline-item"
            *ngIf="
              form.get('password').hasError(error.type) &&
              (form.get('password').dirty || form.get('password').touched)
            "
          >
            {{ error.message }}
          </li>
        </ul>
      </div>
      <div class="p-field p-col text-right">
        <label class="d-block"> تکرار رمزعبور</label>
        <input id="confirmPassword" type="password" pInputText
        formControlName="confirmPassword">
 <ul class="mt-1 text-right list-inline"
     *ngFor="let error of errorMessages.confirmPassword">
   <li class="font-small text-danger font-weight-bold list-inline-item"
       *ngIf="form.get('confirmPassword').hasError(error.type)
                     && (form.get('confirmPassword').dirty
                     || form.get('confirmPassword').touched)">
     {{ error.message }}
   </li>
 </ul>
 <ul class="mt-0 text-right list-inline">
   <li class="font-small text-danger font-weight-bold list-inline-item"
       *ngIf="form.errors?.passwordNotMatch
                     && (form.get('confirmPassword').dirty ||
                     form.get('confirmPassword').touched)">
     تکرار کلمه عبور مطابقت ندارد.
   </li>
 </ul>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <div class="float-left">
          <button
            pButton
            type="submit"
            label="ثبت"
            class="ui-button-success"
            icon="pi pi-check"
            iconPos="left"
            [disabled]="form.invalid"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
