

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th,
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: right!important;
}
:host ::ng-deep .p-button .p-button-icon-left {
  margin-right: 0!important;
  margin-left: 0.5rem;
}


:host ::ng-deep .pi-chevron-left:before {
  content: "\e901";
}
:host ::ng-deep .pi-chevron-right:before {
  content: "\e900";
}
:host ::ng-deep .p-toast .p-toast-message {
  border-width: 0 6px 0 0!important;
}
:host ::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 1rem 0 0!important;
  text-align: right;
}
:host ::ng-deep .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin-right: 1rem!important;
  margin-left: none!important;
}
:host ::ng-deep .p-dialog .p-dialog-footer {
  text-align: left!important;
}
