
    <section id="doctors" class="doctors">
      <div class="container">
        <div class="section-title">
          <h2>پرسنل شرکت</h2>
          <p>
        این شرکت در حال حاضر با کمک گرفتن از نیروهای متخصص تبدیل به یکی از بزرگترین کارخانه های تولید کننده تجهیزات پزشکی شده است           </p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../../../assets/images/team/doctors-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>علی رمضانی</h4>
                <span>مدیرعامل</span>
                <p>سخت کوش منظم توانمند و با تجربه</p>
                <div class="social">
                  <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
                  <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
                  <a href=""><i class="fab fa-lg fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../../../assets/images/team/doctors-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>کیمیا رمضانی</h4>
                <span>مدیر داخلی</span>
                <p>سخت کوش منظم توانمند و با تجربه</p>
                <div class="social">
                  <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
                  <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
                  <a href=""><i class="fab fa-lg fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../../../assets/images/team/doctors-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>الهام گودرزی</h4>
                <span>کارشناس  IT</span>
                <p>سخت کوش منظم توانمند و با تجربه</p>
                <div class="social">
                  <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
                  <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
                  <a href=""><i class="fab fa-lg fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../../../assets/images/team/doctors-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>رضا گودرزی</h4>
                <span>کارشناس تجهیزات پزشکی</span>
                <p>سخت کوش منظم توانمند و با تجربه</p>
                <div class="social">
                  <a href=""><i class="fab fa-lg fa-google-plus-g"></i></a>
                  <a href=""><i class="fab fa-lg fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-lg fa-linkedin-in"></i></a>
                  <a href=""><i class="fab fa-lg fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>