 <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>خدمات</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon">
              <i class="fas fa-tshirt	"></i>
            </div>
            <h4><a href="">البسه یکبار مصرف</a></h4>
            <p>پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار مصرف بیمارستانی  و گان جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی بیمارستانی</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-stethoscope" aria-hidden="true"></i>            </div>
            <h4><a href="">روبالشی بیمارستانی</a></h4>
            <p>پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار مصرف بیمارستانی  و گان جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی بیمارستانی</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-user-md" aria-hidden="true"></i>            </div>
            <h4><a href="">گان جراح</a></h4>
            <p>پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار مصرف بیمارستانی  و گان جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی بیمارستانی</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-medkit" aria-hidden="true"></i>            </div>
            <h4><a href="">پک جراحی</a></h4>
            <p>پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار مصرف بیمارستانی  و گان جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی بیمارستانی</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-user-md" aria-hidden="true"></i>            </div>
            <h4><a href="">پک اتاق عمل</a></h4>
            <p>پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار مصرف بیمارستانی  و گان جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی بیمارستانی</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-heartbeat" aria-hidden="true"></i></div>
            <h4><a href="">پک جراحی سزارین</a></h4>
            <p>پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار مصرف بیمارستانی  و گان جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی بیمارستانی</p>
          </div>
        </div>

      </div>

    </div>
  </section>