<app-header dir="rtl"></app-header>
<app-why-us></app-why-us>

<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
      </div>

      <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>جهان طب خرم بزرگترین تولید کننده تجهیزات پزشکی </h3>
        <p>
          شرکت جهان طب خرم به همراه گنجینه 15 سال تجربه امور تولید و واردات و توزیع محصولات پزشکی که در راستای پیشبرد سلامت جامعه تشکیل شده است .با استفاده از بکارگیری آخرین روش های نوین در دانش بازرگانی و تولیدوتوزیع تجهیزات پزشکی با در نظر گرفتن شرایط بین المللی و بازار ایران فعالیت خود در قالب تولید پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی بیمارستانی آغاز نموده است.        </p>

        <div class="icon-box">
          <div class="icon"><i class="fa fa-history"></i></div>
          <h4 class="title"><a href="">سابقه ما</a></h4>
          <p class="description">کلیه محصولات در محیطی کاملا بهداشتی کلین روم تولید میشود، و پس از تست های نهایی تحت نظارت بخش کنترل کیفی جهت استفاده در مراکز درمانی ارائه میگردد</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="fa fa-headset"></i></div>
          <h4 class="title"><a href="">کیفیت ما</a></h4>
          <p class="description">کلیه محصولات در محیطی کاملا بهداشتی کلین روم تولید میشود، و پس از تست های نهایی تحت نظارت بخش کنترل کیفی جهت استفاده در مراکز درمانی ارائه میگردد</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="fas fa-award"></i></div>
          <h4 class="title"><a href="">جوایز ما</a></h4>
          <p class="description">کلیه محصولات در محیطی کاملا بهداشتی کلین روم تولید میشود، و پس از تست های نهایی تحت نظارت بخش کنترل کیفی جهت استفاده در مراکز درمانی ارائه میگردد</p>
        </div>

      </div>
    </div>

  </div>
</section>

<app-team></app-team>
<app-department></app-department>
<app-footer></app-footer>