/* You can add global styles to this file, and also import other style files */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "assets/fonts/font-awesome/css/all.min.css";

@font-face {
  font-family: 'IRANSans_Bold';
  src: url('/assets/fonts/iran-sans/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSans_Light';
  src: url('/assets/fonts/iran-sans/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}
a:hover{
  text-decoration: none;
}
body {
  font-family: IRANSans_Bold;
  font-weight: lighter;
  direction: rtl;
  background-color: #fcfcfc;
}

 p,  section, h1, h2, h3, h4, h5, h6, a, li, button, input, textarea {
  font-family: IRANSans_Bold!important;

}
.pb-80{
  padding-bottom: 80px!important;
}

.p-input-icon-right input.form-control{
  padding-right: 30px;
}

:host ::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 1rem 0 0;
}
:host ::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  text-align: right;
  margin: 0.5rem 0 0 0;
}
:host ::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  text-align: right;
  font-weight: 700;
}
:host ::ng-deep .p-toast .p-toast-message {
  border-width: 0 6px 0 0;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th,
:host ::ng-deep .p-datatable .p-datatable-body > tr > th {
  text-align: right!important;
}
ul{
  padding-right: 0px!important;
}
h2 {
  margin-bottom: unset!important;
}
