<app-header></app-header>
<meta name="keywords" [content]="product.keywords" />
<meta name="description" [content]="product.metaDescription" />

<section class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a routerLink="/">صفحه اصلی</a></li>
      <li><a routerLink="/">{{ product.Category[0].title }}</a></li>
      <li><a routerLink="/">  {{ product.SubCategory[0].title }}</a></li>
      <li>{{ product.title }}</li>
    </ol>
    <h2>مشاهده جزییات محصول {{ product.title }}</h2>
  </div>
</section>

<div class="container">
  <div class="row detail-box">
    <div class="col-xl-6 col-lg-6">
      <p-galleria
        [value]="images"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '660px', 'margin-top': '2em' }"
        [numVisible]="5"
        dir="ltr"
        thumbnailsPosition="bottom"
        [autoPlay]="true"
        [transitionInterval]="2000"
        [circular]="true"
        [showItemNavigators]="true"
        [showItemNavigatorsOnHover]="true"
      >
        <ng-template
          pTemplate="item"
          *ngFor="let item of images; let i = index"
        >
          <div class="full-screen">
            <a><i class="fas fa-expand"></i></a>
          </div>
          <img
            [src]="item.previewImageSrc"
            style="width: 100%; height: 350px"
          />
          <lib-ngx-image-zoom
            [thumbImage]="item.thumbnailImageSrc"
            [fullImage]="item.previewImageSrc"
            [magnification]="1"
            [enableScrollZoom]="true"
            [enableLens]="true"
            [lensWidth]="200"
            [lensHeight]="150"
            zoomMode="hover"
          >
          </lib-ngx-image-zoom>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="p-grid p-nogutter p-justify-center">
            <img
              [src]="item.thumbnailImageSrc"
              style="width: 80px; height: 80px; display: block"
            />
          </div>
        </ng-template>
      </p-galleria>
    </div>
    <div class="col-xl-6 col-lg-6">
      <p-panel dir="rtl">
        <ng-template pTemplate="header">
          <span class="col-4 text-right">
            <b>{{ product.Category[0].title }}</b>
          </span>
          <span class="col-4 text-center">
           <b> {{ product.SubCategory[0].title }}</b>
          </span>
          <span class="col-4 text-left">
           <b> {{ product.title }}</b>
          </span>

        </ng-template>
<!--          <span class="col-4 text-left">-->
<!--           <b> {{ product.Discount[0].discountTitle }}</b>-->
<!--          </span>-->

        <div class="row justify-content-center">
          <div class="col-12 align-items-center">

            <div class="row d-flex flex-row mb-2">
              <div class="ml-auto">اگر کد تخفیف دارید وارد کنید:</div>
              <div>
                <input pInputText formControlName="discountCode">
              </div>
            </div>
            <p class="small" *ngIf="!isLogged">
              حتما باید ابتدا در سایت <a routerLink="/register">ثبت نام</a> کنید
              و به حساب کاربری خود <a routerLink="/register">وارد</a> شوید تا
              بتوانید سفارش خود را ثبت نمایید.
            </p>
          </div>
        </div>

        <div class="row justify-content-center mb-2">
          <div class="col-12 align-items-center d-flex">
            <p class="ml-auto">قیمت:</p>
            <h2 class="text-danger">
              <span *ngIf="product.discountStatus === false">
                {{ product.price  | number}}
              </span>
              <span *ngIf="product.discountStatus === true" style="text-decoration: line-through;">
                {{ product.price | number}}
              </span>
              <span *ngIf="product.discountStatus === true">
                &nbsp;
                {{
                  product.price - (product.price * product.Discount[0].discountPercent) / 100 | number
                }}
              </span>

              تومان
            </h2>
          </div>
        </div>

        <form [formGroup]="formOrder">
          <div class="form-group row d-flex ">
            <p class="ml-auto">تعداد سفارش:</p>
            <div class="p-field text-center">
              <p-inputNumber
                [(ngModel)]="count"
                [showButtons]="true"
                buttonLayout="horizontal"
                inputId="count"
                formControlName="count"
                spinnerMode="horizontal"
                [step]="1"
                [min]="1"
                decrementButtonClass="p-button-info"
                incrementButtonClass="p-button-info"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"

              >
              </p-inputNumber>
            </div>
          </div>
          <div class="form-group text-right">
            <p>توضیحات:</p>
            <textarea
              class="form-control"
              name="message"
              formControlName="description"
              id="message"
              rows="5"
            ></textarea>
          </div>
          <div class="mb-3">
            <button
              type="submit"
              class="btn mx-auto d-block mt-2 text-white add-to-cart"
              (click)="registerOrder()"
            >
              ثبت سفارش
            </button>
          </div>
        </form>
      </p-panel>
    </div>
  </div>

  <div class="row detail-box mb-4">

      <p-tabView class="tabview ">
        <p-tabPanel class="col-sm-12" header="ویژگی ها" leftIcon="pi pi-list">
          <table>
            <tbody>
              <tr *ngFor="let item of featuresValues">
                <td>{{item.feature}}</td>
                <td>{{item.value}}</td>
              </tr>
            </tbody>
          </table>
        </p-tabPanel>
        <p-tabPanel class="col-sm-12" header="توضیحات" leftIcon="pi pi-book">
          <p>
           {{product.detail}}
          </p>
        </p-tabPanel>
        <p-tabPanel header="راهنما" leftIcon="pi pi-question-circle">
          <p>
            {{product.help}}
          </p>
        </p-tabPanel>
        <p-tabPanel header="دیدگاه" leftIcon="pi pi-comments">
          <div class="command-form">
            <form [formGroup]="formComment">
              <div class="form-group mt-3 justify-content-center">
                <label>نظر شما (اجباری)</label>
                <textarea class="form-control" [(ngModel)]="commentText" formControlName="commentText"></textarea>
                <button
                  type="submit"
                  class="btn mx-auto d-block mt-2 text-white add-to-cart"
                  (click)="registerComment()"
                >
                  ثبت دیدگاه
                </button>
              </div>
            </form>
          </div>
          <div class="row justify-content-center comment" *ngIf="product.Comment.length > 0">
            <div class="col-12 align-items-center text-center">
              <div class="title-box-d">
                <h3 class="title-d">دیدگاه ({{ product.Comment.length }})</h3>
              </div>
              <div class="box-comments">
                <ul class="list-comments" *ngFor="let item of product.Comment">
                  <li>
                    <div class="comment-avatar">
                      <img [src]="item.User[0].image" alt="" />
                    </div>
                    <div class="comment-details">
                      <h4 class="comment-author">{{item.User[0].fullName}}</h4>
                      <p class="date">{{item.date}}</p>
                      <p class="comment-description">
                        {{item.commentText}}
                      </p>
                    </div>
                  </li>
                  <li class="comment-children" *ngIf="item.reply != null">
                    <div class="comment-avatar">
                      <img src="../../../assets/images/admin-default.png" alt="" />
                    </div>
                    <div class="comment-details">
                      <h4 class="comment-author">ادمین</h4>
                      <p class="comment-description">{{item.reply}}</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

  </div>
</div>

<app-footer></app-footer>
<p-toast position="top-center" class="text-center"></p-toast>
