
<section id="why-us" class="why-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h4>چرا جهان طب خرم؟</h4>
          <p>
            شرکت جهان طب خرم به همراه  گنجینه 15 سال تجربه امور تولید و واردات و توزیع محصولات پزشکی که در راستای پیشبرد سلامت جامعه تشکیل شده است .با استفاده از بکارگیری آخرین روش های نوین در دانش بازرگانی و تولیدوتوزیع تجهیزات پزشکی با در نظر گرفتن شرایط بین المللی و بازار ایران فعالیت خود در قالب تولید پک های جراحی یکبارمصرف بیمارستانی و گان جراح و البسه یکبار مصرف بیمارستانی و ملحفه و روبالشی بیمارستانی آغاز نموده است.          </p>
          <div class="text-center">
            <a [routerLink]="['/contact']" class="more-btn">ارتباط با ما<i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 col-md-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="fa fa-list-alt"></i>
                <h4>محصولات ما</h4>
                <p>این شرکت در حال حاضر با تکمیل مجتمع تولیدی خود و با به روز کردن و کمک گرفتن از نیروهای متخصص تبدیل به یکی از بزرگترین کارخانه های تولید پک های جراحی، گان جراح، البسه یکبار مصرف بیمارستانی وملحفه و روبالشی بیمارستانی است</p>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="fas fa-award"></i>
                <h4>افتخار ما</h4>
                <p>افتخار ما بکارگیری آخرین دانش و تکنولوژی روز جهان در فضای کاملا بهداشتی و تمیز مطابق با آخرین استانداردهای جهانی وبا استفاده انواع مواد اولیه ایرانی و خارجی تحت نظارت بخش کنترلی کیفی همراه با تاییدیه اداره کل تجهیزات پزشکی می باشد</p>
              </div>
            </div>
            <div class="col-xl-4 col-md-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="fa fa-headset"></i>
                <h4>پشتیبانی ما</h4>
                <p>کلیه محصولات در محیطی کاملا بهداشتی کلین روم تولید میشود، و پس از تست های نهایی تحت نظارت بخش کنترل کیفی جهت استفاده در مراکز درمانی ارائه میگردد</p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End Why Us Section -->
